html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;

  background: #fcfcfc;
  color: #333;
}

input, textarea, select {
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  margin: 1em auto;
  width: 25%; height: 1px;
  border: 0;
  background: #ccc;
}

p {
  margin: 0;
}

a {
  color: #e24b31;
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0;
}

db-slide {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

db-slide-container {
  display: block;
  position: relative;
}

x-tweet {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 500px; height: 188px;
  opacity: 0;
  transition: opacity 0.3s;
}

x-tweet-container {
  display: block;
  position: relative;
  transform: scale(1.5);
}

x-tweet p {
  font-size: 0.75em;
  margin-top: 3.5em;
  width: 700px;
  margin-left: -100px;
}

red-square,
green-square {
  display: block;
  margin: 0 auto;
  width: 100px; height: 100px;
}

red-square {
  background: red;
}

green-square {
  background: green;
}

.application {
  height: 100%;
}

.liquid-container, .liquid-child {
  height: 100%;
}

.demo-box {
  display: block;
  width: 100px; height: 100px;
  margin: 0 auto;
  background: #ccc;
}

.demo-box input {
  visibility: hidden;
}

.demo-box.is-green {
  background: green;
}
