{{#db-slide as |slide|}}
  <h2>Ember 1.10</h2>
  <hr>
  <h3>Block Params</h3>
  <hr>
  <h4>Speakers:</h4>
  {{#each speakers as |speaker|}}
    <p>{{speaker}}</p>
  {{/each}}
  <hr>
  <p>Slide height: {{slide.height}}</p>
{{/db-slide}}
