{{#db-slide}}
  <h2>Ember 1.11</h2>
  <hr>
  <h3>Bound attributes</h3>
  <hr>
  <label class="demo-box {{if isGreen 'is-green'}}">
    {{input type="checkbox" checked=isGreen}}
  </label>
{{/db-slide}}
