{{#db-slide}}
<h3>Code school & Ember !</h3>
<p> Screencasts on codeschool.com by <a href="https://github.com/mariogintili">@mariogintili</a></p>
<hr>
<ul class="codeschool-screencast-list">
  <li>
    <a href="https://codeschool.com/screencasts/ember-cli-basics">codeschool.com/screencasts/ember-cli-basics</a>
    </li>
  <li>
    <a href="https://codeschool.com/screencasts/ember-cli-acceptance-testing">codeschool.com/screencasts/ember-cli-acceptance-testing</a>
  </li>
  <li>ember-clid-deploy coming soon...</li>
</ul>

{{/db-slide}}
