{{#db-slide}}
  <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 180 800 500" >

<!-- Fills -->
<path class='filler dark' fill="#1A1A1A" d="M34.437,540.473c16.624,0,25.022,8.811,25.022,8.811l-2.595,3.201c0,0-8.307-7.904-22.326-7.904
c-17.221,0-30.335,13.506-30.335,31.629c0,18.219,13.014,32.643,30.635,32.643c15.02,0,23.728-9.514,23.728-9.514l2.702,3.015
c0,0-9.409,10.606-26.43,10.606c-20.422,0-35.141-16.425-35.141-36.75C-0.303,555.888,14.719,540.473,34.437,540.473
L34.437,540.473z"/>
<path class='filler dark' fill="#1A1A1A" d="M87.863,541.678h20.521c6.513,0,9.823,0.694,12.612,2.1c5.817,2.909,9.723,8.81,9.723,16.819
c0,10.005-5.8,17.521-14.02,19.331v0.194c0,0,0.705,0.797,1.598,2.501l15.73,29.128h-5.116l-16.614-31.033H92.171v31.033h-4.308
V541.678L87.863,541.678z M111.191,576.716c9.213,0,15.011-6.604,15.011-16.119c0-6.206-3.097-11.212-8.204-13.519
c-2.002-0.896-4.199-1.409-9.81-1.409H92.171v31.047H111.191L111.191,576.716z"/>
<path class='filler dark' fill="#1A1A1A" d="M190.559,540.473c19.508,0,35.432,15.626,35.432,35.736c0,20.628-15.923,36.75-35.432,36.75
c-19.525,0-35.449-16.122-35.449-36.75C155.11,556.099,171.033,540.473,190.559,540.473L190.559,540.473z M190.559,608.852
c17.116,0,30.936-14.21,30.936-32.643c0-17.916-13.82-31.629-30.936-31.629c-17.123,0-30.943,13.713-30.943,31.629
C159.615,594.642,173.436,608.852,190.559,608.852L190.559,608.852z"/>
<path class='filler dark' fill="#1A1A1A" d="M287.225,547.779c0,0-1.398,6.611-2.704,11.116l-14.814,52.855h-5.405l-18.416-70.073h4.505l14.811,57.058
c0.903,3.413,1.703,7.517,1.703,7.517h0.204c0.102,0,0.9-4.002,1.909-7.517l16.014-57.058h4.808l16.003,57.058
c1.004,3.515,1.811,7.517,1.911,7.517h0.199c0,0,0.799-4.104,1.688-7.517l15.331-57.058h4.502l-18.923,70.073h-5.402
l-14.814-52.855c-1.307-4.505-2.717-11.116-2.717-11.116h-0.181H287.225L287.225,547.779z"/>
<path class='filler dark' fill="#1A1A1A" d="M354.356,541.678h22.029c20.83,0,34.948,12.821,34.948,35.038c0,22.319-14.118,35.035-34.948,35.035
h-22.029V541.678L354.356,541.678z M375.682,607.753c18.628,0,31.147-10.916,31.147-31.037c0-20.019-12.519-31.047-31.147-31.047
h-17.011v62.084H375.682L375.682,607.753z"/>
<path class='filler dark' fill="#1A1A1A" d="M437.523,596.133c0,0,7.513,7.615,18.021,7.615c6.598,0,12.209-3.706,12.209-10.416
c0-15.316-34.246-12.012-34.246-33.735c0-11.002,9.518-19.72,22.836-19.72c13.125,0,20.02,7.108,20.02,7.108l-4.502,8.205
c0,0-6.507-6.108-15.518-6.108c-7.516,0-12.818,4.719-12.818,10.313c0,14.625,34.249,10.716,34.249,33.641
c0,10.909-8.428,19.923-22.424,19.923c-15.023,0-23.435-9.316-23.435-9.316L437.523,596.133L437.523,596.133z"/>
<polygon class='filler dark' fill="#1A1A1A" points="517.082,549.681 492.863,549.681 492.863,541.075 551.229,541.075 551.229,549.681 527.004,549.681 527.004,611.751 517.082,611.751 517.082,549.681 		"/>
<path class='filler dark' fill="#1A1A1A" d="M571.316,541.075h21.631c7.408,0,10.515,0.603,13.217,1.593c7.207,2.709,11.916,9.816,11.916,19.137
c0,9.001-5.002,16.613-12.726,19.114v0.2c0,0,0.81,0.908,2.109,3.216l15.01,27.416h-11.205L596.36,583.62h-15.135v28.131h-9.909
V541.075L571.316,541.075z M595.448,575.018c7.714,0,12.52-4.906,12.52-12.821c0-5.206-1.995-8.915-5.602-10.902
c-1.919-1.008-4.212-1.613-9.715-1.613h-11.426v25.337H595.448L595.448,575.018z"/>
<path class='filler dark' d="M645.468,541.075L655.39 541.075 655.39 611.751 645.468 611.751 645.468 541.075 z"/>
<polygon class='filler dark' fill="#1A1A1A" points="684.6,541.075 694.516,541.075 694.516,570.806 705.03,570.806 722.854,541.075 733.773,541.075 713.244,574.623 713.244,574.813 735.07,611.751 723.852,611.751 705.03,579.329 694.516,579.329 694.516,611.751 684.6,611.751 684.6,541.075 		"/>
<polygon class='filler dark' fill="#1A1A1A" points="756.948,541.075 797.999,541.075 797.999,549.681 766.863,549.681 766.863,571.819 792.2,571.819 792.2,580.415 766.863,580.415 766.863,603.146 799.697,603.146 799.697,611.751 756.948,611.751 756.948,541.075 		"/>
<path class='filler dark' fill="#1A1A1A" d="M511.724,433.03c-8.342-0.829-23.151-2.89-41.68,6.45c-18.521,9.34-25.811,9.745-34.9,8.773
c2.669,4.891,8.086,11.602,25.116,12.796c17.021,1.201,25.163,1.728,16.205,22.94c0.207-6.407-1.29-18.797-18.192-16.622
c-16.898,2.179-20.848,17.386-2.718,24.981c-5.895,1.185-18.391,1.893-27.315-21.46c-6.184,2.686-15.714,8.076-32.995-5.272
c6.016,2.179,13.466,2.313,13.466,2.313c-15.344-7.319-29.993-20.937-39.386-33.811c7.444,5.545,15.66,11.067,23.965,12.104
c-9.814-11.976-32.513-35.92-60.289-60.525c17.86,11.656,39.407,30.094,74.663,25.951
C442.931,407.503,466.635,399.423,511.724,433.03L511.724,433.03z"/>
<path class='filler dark' fill="#1A1A1A" d="M360.793,424.715c-22.12-9.58-26.856-11.506-55.281-18.732c-28.435-7.224-56.402-22.255-75.097-45.716
c13.187,9.657,40.104,29.085,67.749,26.982c-4.206-6.152-11.949-10.946-21.218-15.778
C287.424,373.978,319.043,382.065,360.793,424.715L360.793,424.715z"/>
<path class='filler red' fill="#D82826" d="M312.65,342.874c-5.705-16.357-15.987-37.297-64.771-68.415c-23.761-15.678-58.64-35.368-104.564-85.576
c3.283,13.529,17.794,48.726,90.914,94.417C258.25,299.688,289.25,309.802,312.65,342.874L312.65,342.874z"/>
<path class='filler dark' fill="#1A1A1A" d="M315.667,366.582c-6.004-13.843-18.062-31.603-65.322-56.961c-21.791-12.206-59.021-30.988-92.501-66.696
c3.039,12.894,18.579,41.211,85.454,76.575C261.818,329.705,293.128,339.275,315.667,366.582L315.667,366.582z"/>
<path class='filler red' fill="#D82826" d="M361.501,295.025c-92.117-26.357-128.751-59.622-157.089-94.45c12.938,40.082,43.806,54.424,76.774,81.337
c32.971,26.915,34.848,41.375,44.558,57.275c21.638,35.42,25.079,41.273,46.552,56.739c25.309,16.789,55.917,5.429,89.496,10.694
c33.57,5.259,61.319,30.849,67.355,40.699c7.042-12.556-9.774-30.649-14.316-35.19c2.426-16.45-36.467-23.678-51.196-29.306
c-2.89-1.106-10.048-2.763-3.838-17.523C468.165,344.929,476.883,327.204,361.501,295.025L361.501,295.025z M494.443,403.1
c17.468,2.639,16.586,6.345,16.777,12.726C503.789,407.71,494.443,403.1,494.443,403.1L494.443,403.1z"/>
<!-- /Fills -->

<path class='edge' fill="none" d="M49.117,610.265c-3.891,1.544-8.672,2.694-14.279,2.694c-20.422,0-35.141-16.425-35.141-36.75
c0-20.321,15.021-35.736,34.739-35.736l0,0c16.624,0,25.022,8.811,25.022,8.811l-2.595,3.201c0,0-8.307-7.904-22.326-7.904
c-3.935,0-7.656,0.706-11.055,2.011"/>
<path class='edge' fill="none" d="M23.483,546.591c-11.475,4.403-19.281,15.637-19.281,29.618c0,18.219,13.014,32.643,30.635,32.643
c15.02,0,23.728-9.514,23.728-9.514l2.702,3.015c0,0-4.23,4.77-12.15,7.912"/>
<path class='edge' fill="none" d="M124.758,594.586l9.27,17.165h-5.116l-16.614-31.033H92.17v31.033h-4.308V558 M87.863,558v-16.322l0,0h20.521
c6.513,0,9.823,0.694,12.612,2.1c5.817,2.909,9.723,8.81,9.723,16.819c0,10.005-5.8,17.521-14.02,19.331v0.194
c0,0,0.705,0.797,1.598,2.501l6.461,11.963 M124.281,569.154c1.249-2.418,1.92-5.319,1.921-8.558
c0-6.206-3.097-11.212-8.204-13.519c-2.002-0.896-4.199-1.409-9.81-1.409H92.17v31.047h19.02l0,0
C117.268,576.716,121.859,573.842,124.281,569.154"/>
<path class='edge' fill="none" d="M167.613,604.314c-7.644-6.688-12.504-16.709-12.504-28.105c0-20.11,15.923-35.736,35.449-35.736l0,0
c19.508,0,35.432,15.626,35.432,35.736c0,20.628-15.923,36.75-35.432,36.75C181.82,612.959,173.804,609.73,167.613,604.314
M210.87,600.978c6.514-5.921,10.624-14.717,10.624-24.769c0-7.917-2.698-15.014-7.188-20.469 M214.307,555.74
c-5.67-6.889-14.196-11.16-23.749-11.16c-17.123,0-30.943,13.713-30.943,31.629c0,18.433,13.82,32.643,30.943,32.643l0,0
c7.782,0,14.882-2.938,20.312-7.874"/>
<path class='edge' fill="none" d="M258.919,591.271l-13.034-49.593h4.505l14.811,57.058c0.903,3.413,1.703,7.517,1.703,7.517h0.204
c0.102,0,0.9-4.002,1.909-7.517l9.506-33.87"/>
<path class='edge' fill="none" d="M320.123,576.303l-9.573,35.448h-5.402l-14.814-52.855c-1.307-4.505-2.717-11.116-2.717-11.116h-0.181h-0.212
l0,0c0,0-1.398,6.611-2.704,11.116l-14.814,52.855h-5.405l-5.382-20.48"/>
<path class='edge' fill="none" d="M278.523,564.865l6.507-23.188h4.808l16.003,57.058c1.004,3.515,1.811,7.517,1.911,7.517h0.199
c0,0,0.799-4.104,1.688-7.517l15.331-57.058h4.502l-9.35,34.625"/>
<path class='edge' fill="none" d="M404.514,599.391c-6.113,8.034-15.979,12.36-28.128,12.36h-22.029V559 M354.356,559v-17.322l0,0h22.029
c20.83,0,34.949,12.821,34.949,35.038c0,9.302-2.452,16.935-6.82,22.675 M358.67,556.008v51.745h17.011l0,0
c17.893,0,30.15-10.07,31.089-28.696 M406.771,579.057c0.039-0.766,0.059-1.546,0.059-2.341c0-20.019-12.52-31.047-31.148-31.047
H358.67v10.339"/>
<path class='edge' fill="none" d="M442.707,543.552c3.721-2.318,8.383-3.675,13.637-3.675c13.125,0,20.02,7.108,20.02,7.108l-4.502,8.205
c0,0-6.507-6.108-15.518-6.108"/>
<path class='edge' fill="none" d="M462.403,584.654c-9.632-6.551-28.896-8.765-28.896-25.058c0-6.662,3.489-12.486,9.199-16.045"/>
<path class='edge' fill="none" d="M464.759,611.38c-2.758,1.016-5.909,1.579-9.408,1.579c-15.023,0-23.435-9.316-23.435-9.316l5.607-7.51l0,0
c0,0,7.513,7.615,18.021,7.615c6.598,0,12.209-3.706,12.209-10.416c0-3.829-2.141-6.494-5.351-8.678"/>
<path class='edge' fill="none" d="M456.344,549.082c-7.516,0-12.818,4.719-12.818,10.313c0,14.625,34.249,10.716,34.249,33.641
c0,8.182-4.741,15.297-13.016,18.344"/>
<path class="edge" d="M505,549.681L492.863 549.681 492.863 541.075 551.229 541.075 551.229 549.681 527.004 549.681 527.004 585"></path>
<path class="edge" d="M527.004,585L527.004 611.751 517.082 611.751 517.082 549.681 517.082 549.681 505 549.681"></path>
<path class='edge' fill="none" d="M571.316,556v-14.925l0,0h21.631c7.408,0,10.515,0.603,13.217,1.593c7.207,2.709,11.916,9.816,11.916,19.137
c0,9.001-5.002,16.613-12.726,19.114v0.2c0,0,0.81,0.908,2.109,3.216l2.549,4.654 M610.013,588.989l12.461,22.762h-11.205
L596.36,583.62h-15.135v28.131h-9.909V556 M587,549.681h-5.774v25.337h14.223l0,0c7.714,0,12.52-4.906,12.52-12.821
c0-5.206-1.995-8.915-5.602-10.902c-1.919-1.008-4.212-1.613-9.715-1.613H587"/>
<path class="edge" d="M655.39,595L655.39 611.751 645.468 611.751 645.468 549"></path>
<!-- <polyline class='edge' fill="none" points="655.39,595 655.39,611.751 645.468,611.751 645.468,549 	"/> -->
<path class="edge" d="M645.468,549L645.468 541.075 645.468 541.075 655.39 541.075 655.39 595"></path>
<!-- <polyline class='edge' fill="none" points="645.468,549 645.468,541.075 645.468,541.075 655.39,541.075 655.39,595 	"/> -->
<!-- <polyline class='edge' fill="none" points="712.108,591.523 705.03,579.329 694.516,579.329 694.516,611.751 684.6,611.751 684.6,595 	"/> -->
<path class="edge" d="M712.108,591.523L705.03 579.329 694.516 579.329 694.516 611.751 684.6 611.751 684.6 595"></path>
<!-- <polyline class='edge' fill="none" points="701,570.806 705.03,570.806 722.854,541.075 733.773,541.075 713.244,574.623 713.244,574.813 735.07,611.751 723.852,611.751 712.108,591.523 	"/> -->
<path class="edge" d="M701,570.806L705.03 570.806 722.854 541.075 733.773 541.075 713.244 574.623 713.244 574.813 735.07 611.751 723.852 611.751 712.108 591.523"></path>
<!-- <polyline class='edge' fill="none" points="684.6,595 684.6,541.075 684.6,541.075 694.516,541.075 694.516,570.806 701,570.806 	"/> -->
<path class="edge" d="M684.6,595L684.6 541.075 684.6 541.075 694.516 541.075 694.516 570.806 701 570.806"></path>
<!-- <polyline class='edge' fill="none" points="756.948,580 756.948,541.075 756.948,541.075 769,541.075 	"/> -->
<path class="edge" d="M756.948,580L756.948 541.075 756.948 541.075 769 541.075"></path>
<!-- <polyline class='edge' fill="none" points="777,603.146 799.697,603.146 799.697,611.751 756.948,611.751 756.948,580 	"/> -->
<path class="edge" d="M777,603.146L799.697 603.146 799.697 611.751 756.948 611.751 756.948 580"></path>
<!-- <polyline class='edge' fill="none" points="774.999,571.819 792.2,571.819 792.2,580.415 766.863,580.415 766.863,603.146 777,603.146 	"/> -->
<path class="edge" d="M774.999,571.819L792.2 571.819 792.2 580.415 766.863 580.415 766.863 603.146 777 603.146"></path>
<!-- <polyline class='edge' fill="none" points="788,549.681 766.863,549.681 766.863,571.819 774.999,571.819 	"/> -->
<path class="edge" d="M788,549.681L766.863 549.681 766.863 571.819 774.999 571.819"></path>
<!-- <polyline class='edge' fill="none" points="769,541.075 797.999,541.075 797.999,549.681 788,549.681 	"/> -->
<path class="edge" d="M769,541.075L797.999 541.075 797.999 549.681 788 549.681"></path>
<path class='edge' fill="none" d="M373.611,408.422c9.857,3.245,21.108,4.867,34.285,3.319c3.36-0.394,6.623-0.824,9.808-1.252"/>
<path class='edge' fill="none" d="M393.068,457.841c-9.125-6.982-17.295-15.521-23.302-23.758c7.405,5.52,15.576,11.016,23.835,12.043
c-4.883-5.954-12.964-14.88-23.281-25.385c-10.314-10.501-22.867-22.576-36.676-34.805c9.695,6.327,20.485,14.661,33.988,20.26
c1.936,0.804,3.928,1.552,5.98,2.228"/>
<path class='edge' fill="none" d="M461.186,443.537c-1.747,0.748-3.37,1.394-4.896,1.95c-9.18,3.344-14.675,3.344-21.065,2.656
c2.654,4.863,8.042,11.539,24.979,12.729c16.928,1.196,25.024,1.718,16.114,22.81c0.209-6.372-1.287-18.686-18.088-16.53
c-16.81,2.167-20.735,17.292-2.705,24.848c-5.867,1.176-18.291,1.878-27.168-21.349c-6.148,2.678-15.629,8.036-32.811-5.24
c5.984,2.173,13.391,2.304,13.391,2.304c-5.445-2.602-10.804-5.997-15.867-9.872"/>
<path class='edge' fill="none" d="M417.704,410.49c1.859-0.25,3.692-0.499,5.504-0.739c27.418-3.623,50.146-5.09,88.175,23.253l0,0
c-8.298-0.82-23.023-2.875-41.451,6.409c-3.238,1.638-6.13,2.997-8.748,4.122"/>
<path class='edge' fill="none" d="M264.657,389.029c-12.545-7.486-23.903-16.926-33.036-28.389c13.115,9.605,39.885,28.928,67.376,26.837
c-4.181-6.12-11.883-10.888-21.099-15.698c6.072,1.454,19.282,4.793,37.464,15.718"/>
<path class='edge' fill="none" d="M315.362,387.497c13.023,7.823,28.594,19.537,45.919,37.237l0,0c-21.998-9.529-26.708-11.446-54.976-18.628
c-14.387-3.657-28.654-9.32-41.647-17.077"/>
<path class='edge' fill="none" d="M244.086,289.624c22.348,13.446,48.779,24.689,69.319,53.721l0,0c-5.672-16.269-15.899-37.095-64.417-68.041
c-11.35-7.488-25.251-15.897-41.697-28.149"/>
<path class='edge' fill="none" d="M207.292,247.154C189.5,233.899,168.735,216.148,145,190.201c3.268,13.453,17.697,48.456,90.415,93.896
c2.802,1.913,5.7,3.738,8.67,5.526"/>
<path class='edge' fill="none" d="M268.714,331.883c15.759,7.693,33.479,17.82,47.689,35.039l0,0c-5.968-13.77-17.962-31.43-64.963-56.648
c-17.642-9.881-45.463-24.099-73.163-48.207"/>
<path class='edge' fill="none" d="M178.277,262.065c-6.323-5.503-12.64-11.522-18.83-18.121c3.023,12.824,18.479,40.986,84.988,76.154
c6.739,3.714,15.183,7.343,24.28,11.784"/>
<path class='edge' fill="none" d="M216.393,214.275c-3.718-4.12-7.233-8.271-10.631-12.446c11.255,34.867,36.156,50.146,64.16,71.348
c4.009,3.034,8.086,6.188,12.191,9.542c7.157,5.843,12.842,11.095,17.455,15.901"/>
<path class='edge' fill="none" d="M261.245,252.711c-18.86-12.276-32.898-25.192-44.853-38.437"/>
<path class='edge' fill="none" d="M332.123,286.32c-5.087-1.778-9.972-3.582-14.664-5.409c-22.794-8.88-41.06-18.334-56.214-28.2"/>
<path class='edge' fill="none" d="M463.381,355.555c2.205-8.861,0.319-17.77-16.648-28.237c-8.537-5.26-20.886-10.92-38.439-17.164
c-12.588-4.472-27.851-9.249-46.309-14.393l0,0c-10.68-3.057-20.607-6.206-29.863-9.44"/>
<path class='edge' fill="none" d="M404.017,405.482c17.762,1.071,37.177-1.96,57.711,1.259c16.682,2.613,31.939,10.286,43.758,18.524
c11.821,8.247,20.222,17.048,23.228,21.949c7.003-12.482-9.729-30.48-14.239-34.992c2.411-16.358-36.271-23.551-50.91-29.148
c-2.875-1.098-9.995-2.75-3.827-17.426c1.404-3.412,2.816-6.749,3.646-10.093"/>
<path class='edge' fill="none" d="M345.809,370.242c7.711,10.818,14.068,16.612,26.914,25.862c9.695,6.43,20.17,8.707,31.296,9.378"/>
<path class='edge' fill="none" d="M299.569,298.622c12.019,12.524,16.771,22.017,21.375,31.017c1.724,3.373,3.428,6.677,5.482,10.041
c8.575,14.034,14.275,23.401,19.382,30.565"/>
<path class='edge' fill="none" d="M504.87,410.275c-5.617-4.542-10.67-7.038-10.67-7.038l0,0c17.372,2.626,16.488,6.308,16.683,12.652
C508.943,413.771,506.872,411.894,504.87,410.275"/>
<path class='edge' fill="none" d="M511.383,433.005c-8.298-0.82-23.023-2.875-41.451,6.409c-5.396,2.732-9.828,4.683-13.644,6.073
c-9.18,3.344-14.674,3.344-21.064,2.656c2.653,4.863,8.042,11.539,24.979,12.729c16.927,1.196,25.023,1.718,16.114,22.81
c0.209-6.372-1.288-18.686-18.089-16.53c-16.808,2.167-20.734,17.292-2.705,24.848c-5.867,1.176-18.29,1.878-27.168-21.349
c-6.147,2.678-15.629,8.036-32.811-5.24c5.985,2.173,13.392,2.304,13.392,2.304c-15.257-7.282-29.828-20.822-39.17-33.632
c7.405,5.52,15.576,11.016,23.835,12.043c-4.883-5.954-12.964-14.88-23.281-25.385c-10.314-10.501-22.867-22.576-36.676-34.807
c9.695,6.327,20.485,14.662,33.988,20.26c11.233,4.661,24.346,7.418,40.266,5.548c5.323-0.623,10.396-1.339,15.312-1.989
C450.628,406.129,473.354,404.662,511.383,433.005L511.383,433.005z"/>
<path class='edge' fill="none" d="M361.281,424.734c-21.998-9.529-26.708-11.446-54.976-18.628c-28.278-7.188-56.09-22.128-74.685-45.466
c13.115,9.605,39.885,28.928,67.376,26.835c-4.181-6.118-11.883-10.886-21.099-15.696
C288.317,374.277,319.762,382.318,361.281,424.734L361.281,424.734z"/>
<path class='edge' fill="none" d="M313.405,343.345c-5.672-16.269-15.901-37.095-64.417-68.041c-23.626-15.589-58.313-35.171-103.987-85.103
c3.268,13.453,17.697,48.456,90.415,93.896C259.305,300.396,290.134,310.454,313.405,343.345L313.405,343.345z"/>
<path class='edge' fill="none" d="M316.403,366.922c-5.968-13.77-17.962-31.43-64.963-56.648c-21.67-12.136-58.696-30.817-91.993-66.328
c3.023,12.825,18.479,40.986,84.988,76.155C262.851,330.247,293.99,339.767,316.403,366.922L316.403,366.922z"/>
<path class='edge' fill="none" d="M361.986,295.76c-16.55-4.738-31.301-9.699-44.527-14.849c-59.979-23.368-88.608-50.702-111.697-79.081
c11.255,34.867,36.156,50.147,64.16,71.348c4.009,3.034,8.086,6.189,12.191,9.542c25.807,21.066,32.458,34.464,38.83,46.918
c1.724,3.373,3.428,6.677,5.482,10.041c21.519,35.221,24.939,41.047,46.296,56.425c25.171,16.695,55.611,5.404,89.006,10.637
c16.682,2.613,31.939,10.286,43.758,18.524c11.821,8.247,20.222,17.048,23.228,21.949c7.003-12.482-9.729-30.48-14.239-34.991
c2.411-16.359-36.271-23.552-50.91-29.149c-2.875-1.098-9.995-2.752-3.827-17.428c5.125-12.455,10.367-23.913-13.002-38.33
c-8.537-5.26-20.887-10.92-38.439-17.163C395.707,305.682,380.443,300.906,361.986,295.76L361.986,295.76z M494.2,403.237
c17.372,2.626,16.488,6.308,16.683,12.652C503.496,407.827,494.2,403.237,494.2,403.237L494.2,403.237z"/>
</svg>

<ol>
  <li>Junior UI Developers  <span>j.mp/cs-ui-jnr</span></li>
  <li>Senior UI Developers  <span>j.mp/cs-ui-snr</span></li>
</ol>


{{/db-slide}}
