{{#db-slide}}
  <img src="/images/dockyard.png" alt="DockYard" height="256"
    style="margin-top: -1.5em; margin-bottom: 1em">
  <p style="margin-bottom: 1em">
  DockYard is now offering Ember.js staff augmentation<br>
  services alongside its Ember.js project services,<br>
  work alongside experienced Ember.js developers<br>
  to help your existing project.</p>
  <p>
  In addition, anyone that makes a referral to DockYard<br>
  that results in a contract will receive 5% of that<br>
  referral up to $10,000 USD.</p>
{{/db-slide}}
