{{#db-slide}}
  <img src="/images/emberfest.png" width="1200" height="206">
  <p style="margin-top: 100px">
    <b>Budapest</b><br>
    October 27 &amp; 28<br>
    <a href="https://emberfest.eu">https://emberfest.eu</a>
  </p>
  <p style="margin-top: 1em">
    <b>Discount code:</b><br><code>ef_2016_15off</code>
  </p>
{{/db-slide}}
