{{#db-slide}}
  <a href="http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html">
    <img src="/images/ember-data.png" height="768" alt="Ember Data 1.13 release post">
  </a>
{{/db-slide}}
