{{#db-slide}}
  <img src="/images/emberfest.png" width="1200" height="206">
  <p style="margin-top: 100px">
    <b>Budapest</b><br>
    October 27 &amp; 28<br>
    <a href="https://emberfest.eu">https://emberfest.eu</a>
  </p>
{{/db-slide}}
