{{#db-slide}}
  <h2>Ember London Stats</h2>
  <hr>
  <h3>{{model.meetup.members}} London Embereños</h3>
  <hr>
  <h3>{{model.vimeo.metadata.connections.videos.total}} talks recorded</h3>
  <hr>
  <h3>25K plays</h3>
{{/db-slide}}
