{{#db-slide}}
  <a href="https://medium.com/delightful-ui-for-ember-apps/adding-flash-messages-to-an-ember-app-437b13e49c1b">
    <img src="/images/ember-flash.jpg" height="768" alt="A screenshot of Lauren Tan’s fantastic article “Adding Flash messages to an Ember app”">
  </a>
{{/db-slide}}
