{{#db-slide}}
  {{x-tweet tweet-id="659410887254536192"}}

  <p style="margin-top: 3em"><a href="https://github.com/broccolijs/broccoli/issues/284">github.com/broccolijs/broccoli/issues/284</a></p>
{{/db-slide}}
