{{#db-slide}}
  <img src="images/enhance-conf.png" width="800" height="208">
  <hr>
  <p>3 &amp; 4 March 2016</p>
  <hr>
  <p><a href="http://enhanceconf.com/">enhanceconf.com</a></p>
  <hr>
  <p>Use code <b>EMBERJS</b> for a 15% discount</p>
{{/db-slide}}
