{{#db-slide}}
  <div style="display: flex; align-items: flex-end">
    <img height="500" src="/images/tomster.png">
    <img height="400" src="/images/montevideo.png">
    <img height="428" src="/images/munich.png">
    <img height="400" src="/images/slc.png">
  </div>
{{/db-slide}}
