{{#db-slide}}
  <img src="/images/tomster.png" height="512" alt="London Tomster">
  <div aria-label="Ember London July 2016" style="margin-top: .5em">
    <h1>Ember London July 2016</h1>
  </div>
{{/db-slide}}
