{{#db-slide}}
  <img src="/images/tomster.png" height="512" alt="London Tomster">
  <div aria-label="Ember London March two-thousand and fifteen" style="margin-top: .5em">
    <h1>Ember London March 2015</h1>
  </div>
{{/db-slide}}
