{{#db-slide}}
  <h2>Ember 1.11</h2>
  <hr>
  <h3>Inline if</h3>
  <hr>
  <p>
    <label>
      {{input type="checkbox" checked=isCool}}
      Cool?
    </label>
  </p>
  <p>
    Ember is {{#if isCool}}cool{{else}}okay{{/if}}.
  </p>
{{/db-slide}}
