{{#db-slide}}
  <img src="/images/json-api.png" height="512">
  <p>
    <a href="https://github.com/json-api/json-api/pull/341">
      github.com/json-api/json-api/pull/341
    </a>
  </p>
{{/db-slide}}
