{{#db-slide}}
  <p style="margin-top: -1em">
    <a href="http://www.kayako.com/">
      <img src="/images/kayako.png" height="768" alt="Screenshot of our slack">
    </a>
  </p>
  <p>
    <a href="mailto:tom.speak@kayako.com">tom.speak@kayako.com</a>
  </p>
{{/db-slide}}
