<db-slide>
  <a href="http://kellysutton.com/2015/05/19/rethinking-static-sites.html">
    <img src="/images/kelly-sutton-post.png" height="768" alt="Screenshot of “Rethinking Static Sites” post by Kelly Sutton">
  </a>
</db-slide>
