{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Melinda Seckington</h3>
  <p>Un-artificial Intelligence</p>
  <hr>
  <h3>Sebastian McKenzie</h3>
  <p>JavaScript Transformation</p>
  <hr>
  <h3>Markus Padourek</h3>
  <p>SANE Stack: Progress Report</p>
{{/db-slide}}
