{{#db-slide}}
  <h3>Tonight’s Line-up</h3>
  <hr>
  <h3>Deepan, Olivier &amp; Andy</h3>
  <p>Our journey with the Tomster</p>
  <hr>
  <h3>Chris Game</h3>
  <p>Routes manuva</p>
  <hr>
  <h3>Vaidas Mykolaitis</h3>
  <p>Hamsters on fire</p>
{{/db-slide}}
