{{#db-slide}}
  <h3>Jamie White</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Nicky Thompson</h3>
  <p>How we made FutureLearn more accessible</p>
  <hr>
  <h3>Miguel Camba</h3>
  <p>Mobile web apps. Are we there yet?</p>
  <hr>
  <h3>Robert Knight</h3>
  <p>A look at the modern web platform from a native perspective</p>
{{/db-slide}}
