{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Aaron Chambers</h3>
  <p>Zelda: A \{{link-to}} the past</p>
  <hr>
  <h3>Nik Wakelin</h3>
  <p>Hamsters on a Train: A small sample of what I’ve learned about using Ember on Rails</p>
  <hr>
  <h3>Peter O’Shaughnessy</h3>
  <p>2020: Looking Ahead To The Future of Web Development</p>
{{/db-slide}}
