{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Ju Liu and Eugenio Depalo</h3>
  <p>How to design reusable components in Ember 2</p>
  <hr>
  <h3>Jonathan Fielding</h3>
  <p>Reimagining How We Design Responsively</p>
  <hr>
  <h3>Rik Lomas</h3>
  <p>Building on the PEEP stack</p>
{{/db-slide}}
