{{#db-slide}}
  <h3>Gavin Joyce</h3>
  <p>Taming Content Editable with Ember </p>
  <hr>
  <h3>Steve Tyler</h3>
  <p>Introduction to Ember, Building a Basic Twitter App</p>
  <hr>
  <h3>David Rhys White</h3>
  <p>Full-stack development environments with Docker</p>
  <hr>
  <h3>Andrew Faraday</h3>
  <p>SMIFF Music</p>
{{/db-slide}}
