{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Andrew McArdle</h3>
  <p>First step towards polymorphic validation with Ember and Rails</p>
  <hr>
  <h3>Jon Beer</h3>
  <p>How to incrementally port your Rails app front end to Ember.js, page by page</p>
  <hr>
  <h3>Michael Schinis</h3>
  <p>Test Driven Development using ember-cli-yadda</p>
{{/db-slide}}
