{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Will Raxworthy</h3>
  <p>Testing Ember with Ember CLI Mirage</p>
  <hr>
  <h3>Hugh Francis</h3>
  <p>Building a Side Cart with Spree Ember</p>
  <hr>
  <h3>Nikos Katsikanis</h3>
  <p>Recording acceptance tests with the Ember-cli-test-recorder</p>
{{/db-slide}}
