{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Aaron Chambers</h3>
  <p>Ember CLI Deploy</p>
  <hr>
  <h3>Alex Speller</h3>
  <p>Ember Twiddle</p>
  <hr>
  <h3>Bryan Crotaz</h3>
  <p>Ember Grid</p>
{{/db-slide}}
