{{#db-slide}}
  <h3>Ember London</h3>
  <p>Intro ramble</p>
  <hr>
  <h3>Speaker name</h3>
  <p>Talk title</p>
  <hr>
  <h3>Speaker name</h3>
  <p>Talk title</p>
  <hr>
  <h3>Speaker name</h3>
  <p>Talk title</p>
{{/db-slide}}
