{{#db-slide}}
  <h3>~10x faster</h3>
  <br>
  <img src="/images/curying-benchmark.png" height="300" alt="curying benchmark">
  <br>
  <a href="http://development.dummy-app.divshot.io/new-style">DEMO</a>
{{/db-slide}}
