{{#db-slide}}
  <h2>~50x faster</h2>
  <br>
  <img src="/images/dom-actions-benchmark.png" height="280" alt="dom actions benchmark">
  <br>
  <h3><a href="http://development.dummy-app.divshot.io/new-style">DEMO</a></h3>
{{/db-slide}}
