{{#db-slide}}
  <h3>So I did</h3>

  <pre class="language-handlebars" style="font-size: 20px;">
    {{snippetOldStyle}}
  </pre>

  Now can be expresed as:

  <pre class="language-html" style="font-size: 20px;">
    {{snippetNewStyle}}
  </pre>
{{/db-slide}}
