{{#db-slide}}
  <h2>Project Night Roster</h2>
  <hr>
  <div style="display: flex; align-items: center; margin: 100px 0;">
    <img height="120" src="/images/alphasights.png">
    <img height="70" src="/images/trouva.png">
  </div>
  <div style="display: flex; align-items: center">
    <img height="100" src="/images/zapnito.png">
    <img height="150" src="/images/smh.png">
    <img height="150" src="/images/thoughtbot.png">
  </div>
{{/db-slide}}
