{{#db-slide}}
  {{x-tweet tweetId="563050064697114625"}}
  <p style="margin-top: 3em">
    <a href="http://www.201-created.com/ember-community-survey-2015">
      www.201-created.com/ember-community-survey-2015
    </a>
  </p>
{{/db-slide}}

