{{#db-slide}}
  {{#x-tweet tweetId="563050064697114625"}}
    <p>
      <a href="http://www.201-created.com/ember-community-survey-2015">
        www.201-created.com/ember-community-survey-2015
      </a>
    </p>
  {{/x-tweet}}
{{/db-slide}}

