{{#db-slide}}
  {{#x-tweet tweetId="563392610882949120"}}
    <p>
      <a href="http://tomdale.net/2015/02/youre-missing-the-point-of-server-side-rendered-javascript-apps/">
        tomdale.net/2015/02/youre-missing-the-point-of-server-side-rendered-javascript-apps
      </a>
    </p>
  {{/x-tweet}}
{{/db-slide}}
