{{#db-slide}}
  <img src="/images/i18n.png" width="1268" height="782">
  <p><a href="https://embercommunity.slack.com/messages/dev-translations/">https://embercommunity.slack.com/messages/dev-translations/</a></p>
{{/db-slide}}
