{{#db-slide}}
  <h2>Upcoming</h2>
  <hr>
  <h3>February Project Night</h3>
  <p>Thursday 19 February</p>
  <hr>
  <h3>March Meetup</h3>
  <p>Thursday 12 March</p>
  <hr>
  <h3>March Project Day</h3>
  <p>Sunday 22 March</p>
{{/db-slide}}
