{{#db-slide}}
  <h2>Upcoming</h2>
  <hr>
  <h3>Next Project Night</h3>
  <p>Thursday August 18<br><span style="color: #e24b31">Hosted by <b>Digital Detox</b> in Brixton</span></p>
  <hr>
  <h3>Next Meetup</h3>
  <p>Thursday September 8</p>
{{/db-slide}}
