{{#db-slide}}
  <img src="/images/wingman.png" height="256" alt="Wingman Events">
  <p style="margin-top: 1em">
    <a href="http://wingman.events">
      http://wingman.events
    </a>
  </p>
{{/db-slide}}
